Repository wonism/reacteum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests, jsonlint

1.0.2 - add test code
  .eslintrc.js
  .lintstagedrc
  .travis.yml
  README.md
  package-lock.json
  package.json
  src/store/app/actions.test.js
  src/store/app/reducers.js
  src/store/app/reducers.test.js
  src/store/app/sagas.test.js
  src/store/app/selectors.test.js
Due: prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests, jsonlint

update travis
  .travis.yml
  README.md
  package.json
Due: none

1.0.4 - feat. add CLI - docs. update docs
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

1.1.0 - feat. add CLI - docs. update docs
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

1.1.1 - resolve vulnerabilities
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

1.1.2 - update reacteum-cli - resolve vulnerabilities
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Set theme jekyll-theme-minimal
  _config.yml
Due: none

chore. update npmignore
  .npmignore
Due: none

Set theme jekyll-theme-hacker
  _config.yml
Due: none

1.2.1 - feat. support gzip
  CHANGELOG.md
  README.md
  config/webpack.config.prod.js
  package-lock.json
  package.json
  server/index.js
Due: prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests

chore: update version
  package-lock.json
  package.json
Due: none

feat: write test codes for hooks
  .eslintrc.js
  config/webpack.config.base.js
  package-lock.json
  package.json
  src/components/People/Detail/Provider.jsx
  src/components/People/Detail/Provider.test.jsx
Due: prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint --fix: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
  jsonlint: any of: .*{rc, json}
